*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:linear-gradient(#6BA3BE,#0C969C);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.box00{
    background-color: white;
    border-radius: 20px;
    width: 550px;
    height: 550px;
    border: 2px solid;
    margin: auto;
    position: relative;
    top: 130px;
    display: flex;
    justify-content: center;    /*     ელემენტები განლაგდება ღერძის შუაში       */
    /* justify-content: flex-start;   --------- ელემენტები განლაგდება ღერძის დასაწყისში. */
    /* justify-content: flex-end;               ელემენტები განლაგდება ღერძის ბოლოში. */
    /* justify-content: space-between;              პირველი და ბოლო ელემენტები მოთავსდება კიდეებზე, ხოლო დანარჩენებს შორის თანაბარი მანძილი დარჩება.*/
    /* justify-content: space-around;    ელემენტების ირგვლივ თანაბარი მანძილი დარჩება, თუმცა გვერდითა ელემენტების გარეთა სივრცე ორჯერ მცირეა. */
    align-items: center;
    gap: 20px;
}

.box01{
    width:100px;
    height: 100px;
    border-radius: 15px;
    border: 2px solid;
    background-color:#ED9E59;

}
.box02{
    width:100px;
    height: 100px;
    border-radius: 15px;
    border: 2px solid;
    background-color:#662249;

}