*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #6BA3BE;
}
.box00{
    width:450px;
    height:450px;
    background-color:#19205C;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    margin: auto;
    margin-top: 150px;
    box-shadow: 6px 6px 40px white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.box01{
    width:150px;
    height:100px;
    background-color:#6BA3BE;
    border-radius:15px;
    border: 2px solid;
}