body{
    background-color:white;
}
h1{
    font-size:20px;
    text-align:center;
    color:green;
}
h2{
    font-size:20px;
    text-align:center;
    color:red;

}
h3{
    font-size:20px;
    text-align:center;
    color:black;
}
h4{
    font-size:20px;
    text-align:center;
    color:gray;
}
h5{
    font-size:20px;
    text-align:center;
    color:blue;
}
h6{
    font-size:20px;
    text-align:center;
    color:brown;
}