*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.box00{
    width:100%;
    height:200px;
    background-color: rgb(54, 54, 54);

}
.box01{
    width:100%;
    height:50px;
    background-color:rgb(32, 32, 32);
    display: flex;

}
.box02{
    width:300px;
    height:100%;
    background-color: rgba(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.box03{
    width:350px;
    height:100%;
    background-color: rgba(32,32,32);
    margin-left: 55%;
    color:white;
}
.p01{
    margin-left:10px;
}
.bt0{
    width:130px;
    height:100%;
    background-color:rgba(32,32,32);
    color:white;
    border: none;
}
.bt0:hover{
    color:blue;
    transition: 0,5s;
}

.bt01{
    width:60px;
    height:96%;
    background-color: rgba(32, 32, 32);
    border:none;
    color:white;
}
.bt01:hover{
    color:red;
    transition: 0,5s;
}
.img00{
    margin-left: 50px;
    margin-top:30px;
}
.form00{
    width:500px;
    height:45px;
    background-color: white;
    border-radius:10px;
    margin-left: 300px;
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

}
input{
    width: 90%;
    height:40px;
    border-radius:10px;
    margin-right:20px;
    border: none;
    padding: 0 14px;
}
.bt02{
    width:50px;
    height:100%;
    background-color:#2f64ad;
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
}
.box04{
    width:100%;
    height:100px;
    background-color: rgb(54, 54, 54);
    display: flex; 
}
.box05{
    width:100%;
    height: 60px;
    display: flex;
    background-color: white;
}
.box06{
    width:230px;
    height:57px;
    margin-left:50px;
    background-color: #2f64ad;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p02{
    font-size:16px;
    color:white;
    font-weight: 400;
}
.box07{
    width: 500px;
    height: 98%;
    background-color: rgb(255, 255, 255);
    margin-left: 50px;
}
.bt03{
    width: 100px;
    height:98%;
    background-color: white;
    border: none;
}
.box08{
    width: 300px;
    height:400px;
    background-color:white;
    border-radius: 20px;
    margin-left: 50px;
    box-shadow: 20px 20px 40px rgba(0,0,0,0.5);
    margin-top: 30px;
    text-align: center
}
