.p01{
    color:rgb(0,0,255);
    font-size:50px;
}
.p02{
    color: rgb(0,0,0);
    font-size:50px;
}
.p03{
    color: rgb(255,0,150);
    font-size:50px;
}
.p04{
    color:#ff0000;
    font-size:50px;
}
.p05{
    color: #00f;
    font-size: 50px;
}
.p06{
    color:#3cb371;
    font-size:50px;
}